.active {
    background-color: #0674e9;
    border-radius: 15px;
}

.header {
    border-bottom: 2px solid black;
    background-color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.main-body {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: whitesmoke;
    max-height: 60rem; 
    overflow-y: auto;
}
