<div class="modal-backdrop" (click)="cancelAction()"></div>
<div class="modal">
  <button class="close-btn" (click)="cancelAction()">✕</button>

  <h2 class="modal-title">{{ title }}</h2>

  <p class="modal-message">{{ message }}</p>

  @if (content) {
    <ng-container [ngTemplateOutlet]="content"></ng-container>
  }
  <div class="row d-flex justify-content-center">
    <div class="col col-4 me-4">
      <div class="modal-actions">
        <button class="modal-cancel-btn" (click)="cancelAction()">Cancel</button>
      </div>
    </div>
    <div class="col col-4">
      <div class="modal-actions">
        <button class="modal-btn" (click)="confirmAction()">Confirm</button>
      </div>
    </div>
  </div>
</div>
