
<div class="d-flex justify-content-center" style="min-height: 600px;">
  <div class="container mt-4 table-responsive">
    @if(selectedUser().Username === '') {
    <table class="table table-hover table-striped table-bordered shadow-sm rounded custom-table mt-4">
      <thead class="table-dark custom-header">
        <tr>
          <th style="width: 40px;"></th>
          <th>Username</th>
          <th>Email</th>
          <th>Created Date</th>
          <th>Expire Date</th>
        </tr>
      </thead>
      <tbody>
        @for (usr of users$ | async; track usr)
        {
          <tr class="clickable-row" (click)="selectAccount(usr)">
            <td class="text-center align-middle">
              <i class="fa-solid fa-circle status-icon" 
                 [style.color]="usr.IsActive ? 'green' : 'red'"></i>
            </td>
            <td class="align-middle">{{usr.Username}}</td>
            <td class="align-middle">{{usr.Email}}</td>
            <td class="align-middle">{{usr.CreatedDate | date:'short'}}</td>
            <td class="align-middle">{{usr.hasExpired() ? (usr.ExpireDate | date:'short') : ''}}</td>
          </tr>
        }
      </tbody>
    </table>
    }
    @else {
        
    }
  </div>
</div>
