<div class="d-flex justify-content-center" style="min-height: 600px;">
  <div class="container-fluid p-0">
    @if (selectedUser().Username.length === 0) {
      <div class="d-flex justify-content-end mt-3">
        <input type="text" class="form-control" style="max-width: 250px;" placeholder="Search users..." (input)="filter$.next($any($event.target).value)" />
      </div>
      <table class="table table-hover table-striped table-bordered shadow-sm rounded custom-table mt-4">
        <thead class="table-dark custom-header">
          <tr>
            <th style="width: 40px;"></th>
            <th>Username</th>
            <th>Email</th>
            <th>Creation Date</th>
            <th>Expiration Date</th>
          </tr>
        </thead>
        <tbody>
          @for (usr of usersFiltered$ | async; track usr) {
            <tr class="clickable-row" (click)="selectAccount(usr)">
              <td class="text-center align-middle">
                <i class="fa-solid fa-circle status-icon"
                  [style.color]="usr.IsActive ? 'green' : 'red'"></i>
              </td>

              <td class="align-middle">{{ usr.Username }}</td>
              <td class="align-middle">{{ usr.Email }}</td>
              <td class="align-middle">{{ usr.CreatedDate | date:'short' }}</td>
              <td class="align-middle">
                {{ usr.hasExpired() ? (usr.ExpireDate | date:'short') : '' }}
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
    @else {
    <div class="container mt-4">
      <div class="d-flex justify-content-end mb-3">
        <button type="button" class="btn btn-success" (click)="saveUser(selectedUser())">
          Save Changes
        </button>
      </div>
      <div class="row g-4">
        <div class="col-md-4">
          <div class="form-floating">
            <input type="text" id="username" class="form-control" [(ngModel)]="selectedUser().Username" name="Username">
            <label for="username">Username</label>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-floating">
            <input type="email" id="email" class="form-control" [(ngModel)]="selectedUser().Email" name="Email">
            <label for="email">Email</label>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-floating">
            <input type="tel" id="phone" class="form-control" [(ngModel)]="selectedUser().PhoneNumber" name="PhoneNumber">
            <label for="phone">Phone Number</label>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-floating">
            <input type="text" id="firstName" class="form-control" [(ngModel)]="selectedUser().FirstName" name="FirstName">
            <label for="firstName">First Name</label>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-floating">
            <input type="text" id="lastName" class="form-control" [(ngModel)]="selectedUser().LastName" name="LastName">
            <label for="lastName">Last Name</label>
          </div>
        </div>

        <div class="col-md-4 d-flex flex-column">
          <label class="form-label mb-1"><strong>Expiration Date</strong></label>
          <input type="date" class="form-control" [(ngModel)]="selectedUser().ExpireDate" name="ExpireDate">
        </div>

        <div class="col-md-4">
          <div class="form-check form-switch mt-2">
            <label class="form-check-label fw-bold" for="isActive">Is Active</label>
            <input class="form-check-input switch-big" type="checkbox" id="isActive" [(ngModel)]="selectedUser().IsActive" name="IsActive">
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-check form-switch mt-2">
            <label class="form-check-label fw-bold" for="isAdmin">Is Admin</label>
            <input class="form-check-input switch-big" type="checkbox" id="isAdmin" [(ngModel)]="selectedUser().IsAdmin" name="IsAdmin">
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-check form-switch mt-2">
            <label class="form-check-label fw-bold" for="confirmedEmail">Confirmed Email</label>
            <input class="form-check-input switch-big" type="checkbox" id="confirmedEmail" [(ngModel)]="selectedUser().ConfirmedEmail" name="ConfirmedEmail">
          </div>
        </div>
      </div>
      <div class="d-flex gap-3 mt-4">
        <button class="btn btn-secondary" (click)="clearAccount()">Back</button>
        <button class="btn btn-primary" (click)="saveUser(selectedUser())">Save</button>
      </div>

      <hr />

      <div class="mt-4">
        <h3 class="mt-3 text-start">Reset Password</h3>
        <div class="d-flex justify-content-start flex-column">
          <div class="form-floating mb-3" style="width: 25%;">
            <input type="password" id="newPassword" class="form-control" [(ngModel)]="newPassword">
            <label for="newPassword">New Password</label>
          </div>

          <div class="form-floating mb-3" style="width: 25%;">
            <input type="password" id="confirmPassword" class="form-control" [(ngModel)]="confirmPassword" (keydown.enter)="resetPassword()">
            <label for="confirmPassword">Confirm Password</label>
          </div>
        </div>

        <div class="d-flex justify-content-start mt-3">
          <button type="button" class="btn btn-warning" [disabled]="(!newPassword || !confirmPassword) || (newPassword.length === 0 || confirmPassword.length === 0) || (newPassword !== confirmPassword)" (click)="resetPassword()">
            Reset Password
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
