    .active {
        background-color: #0674e9;
        border-radius: 15px;;
    }

    .header {
        border-bottom: 2px solid black;
        background-color: black;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .main {
        border-radius: 15px; 
        height: 60rem; 
        background: whitesmoke;
    }

    .content-container {
        flex: 1 1 auto;       
        max-height: calc(100vh - 120px); 
        overflow-y: auto;     
        padding: 15px;
    }

    .container.main {
        display: flex;
        flex-direction: column;
        height: 100vh; 
    }