
<div class="container mt-4">
    <div *ngIf="(personalRecords$ | async)?.length === 0">
        <h3>No Accounts Available</h3>
    </div>
    @for (rec of personalRecords$ | async; track rec) {
    <details #d open (toggle)="onToggle()">
        <summary class="text-start no-arrow" style="cursor: pointer;">
            <h4>
                <i *ngIf="d.open" class="fa-solid fa-angle-down"></i>
                <i *ngIf="!d.open" class="fa-solid fa-chevron-right"></i>
                {{ rec.Name }}
            </h4>
        </summary>
        <div class="row mt-4" style="height: 30rem;">
            <div class="col col-4">
                <div style="max-height: 30rem; overflow-y: auto;">
                    <table class="table table-bordered table-hover mt-4" style="width: 90%;">
                        <thead class="thead-dark">
                            <th>Date</th>
                            <th>Time</th>
                            <th>Balance</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let record of rec.Records">
                                <td>{{record.RecordedDate| date:'MM/dd/yyyy'}}</td>
                                <td>{{record.RecordedDate| date:'h:mm a'}}</td>
                                <td>{{formatCurrency(record.Balance)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col col-8">
                <canvas *ngIf="rec.ChartRecords" baseChart [data]="rec.ChartRecords" [options]="accountHistoryChartOptions" type="line">
                </canvas>
            </div>
        </div>
        <hr />
    </details>
    }
</div>