<div class="row mt-4 d-flex justify-content-center">
    <div class="col col-6 d-flex justify-content-center">
        <ag-charts class="larger-canvas" style="height: 500px;" [options]="netWorthChartOptions" *ngIf="(personalAccts$ | async)?.length !== 0"></ag-charts>
        <h3 *ngIf="(personalAccts$ | async)?.length === 0">
            No Accounts Available
        </h3>
        <!-- <canvas id="networthchart" class="larger-canvas" style="height: 400px;" baseChart [data]="netWorthOverviewChart.data" [plugins]="netWorthOverviewChart.plugins!" [options]="netWorthOverviewChart.options" [type]="netWorthOverviewChart.type"> </canvas> -->
         <!-- <ag-charts-angular [options]="netWorthChartOptions"></ag-charts-angular> -->
    </div>
</div>
<hr />

<!-- <h3 class="text-start">Retirement Accounts</h3>
<div class="row mt-4 d-flex justify-content-center">
    <div class="col col-3">
        <canvas class="larger-canvas" style="height: 400px;" baseChart [data]="accountChart.data" [options]="accountChart.options" [type]="accountChart.type"> </canvas>
    </div>
    <div class="col col-3">
        <canvas class="larger-canvas" style="height: 400px;" baseChart [data]="accountChart.data" [options]="accountChart.options!" [type]="accountChart.type"> </canvas>
    </div>
    <div class="col col-3">
        <canvas class="larger-canvas" style="height: 400px;" baseChart [data]="accountChart.data" [options]="accountChart.options!" [type]="accountChart.type"> </canvas>
    </div>
    <div class="col col-3">
        <canvas class="larger-canvas" style="height: 400px;" baseChart [data]="accountChart.data" [options]="accountChart.options!" [type]="accountChart.type"> </canvas>
    </div>
</div> -->