<main class="container d-flex justify-content-center align-items-center min-vh-100 px-3">
  <div class="auth-card w-100">
    <img class="logo-img mb-3" src="assets/images/monkeymonielogo.png" alt="MonkeyMonie Logo"/>

    <h2 class="mb-4">Log In or Sign Up</h2>

    <div class="mb-3 text-start">
      <label for="email" class="form-label fw-bold">Email</label>
      <input id="email" type="email" class="form-control" placeholder="Email or username" [(ngModel)]="UserEmail" />
    </div>

    <div class="mb-2 text-start">
      <label for="password" class="form-label fw-bold">Password</label>
      <input id="password" type="password" class="form-control" [(ngModel)]="UserPassword" (keydown.enter)="login()"/>
    </div>

    <div class="text-end mb-4">
      <a class="small" href="forgotpassword">Forgot password?</a>
    </div>

    <button class="btn btn-success w-100 mb-3" id="user-login-btn" (click)="login()">
      Login
      <i class="fa-solid fa-right-to-bracket ms-2"></i>
    </button>

    @if (ErrorMsg()) {
      <div class="alert alert-warning mt-2" role="alert">
        {{ ErrorMsg() }}
      </div>
    }

    <div class="divider my-4">
      <span>OR</span>
    </div>

    <button class="btn btn-primary w-100" (click)="createAccount()">
      Create an Account
    </button>
  </div>
</main>
