<div class="container main">
    <div class="row header">
        <div class="col col-12 text-center">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand fw-bold" routerLink="/main">
                        <img class="logo-img" src="assets/images/monkeymonielogo.png" alt="MonkeyMonie Logo" height="70"/>
                    </a>
                    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#nav3">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    @if(user$ | async; as user)
                    {
                        <h3 style="color: white;">Welcome, {{ user.Username }}</h3>
                    }
                    <div class="collapse navbar-collapse justify-content-end">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            @for (pg of portalPages; track pg) {
                                @if(pg.Visible$ | async) {
                                <li class="nav-item">
                                    <a class="nav-link text-white" (click)="setPage(pg)" [routerLink]="pg.Route" [class.active]="selectedPage === pg.Id" >
                                        {{pg.Title}}
                                    </a>
                                </li>
                                }
                            }
                        </ul>
                    </div>
                    <a class="settings navbar-brand text-white fw-bold" href="/main">
                        <i class="fa-solid fa-gear"></i>
                    </a>
                    <span class="logout-logo" (click)="logout()">
                        <a>
                            Logout
                            <i class="fa-solid fa-right-from-bracket"></i>
                        </a>
                    </span>
                </div>
            </nav>
        </div>
    </div>
    <div class="row" >
        @if(getPage) {
            <ng-container [ngComponentOutlet]="getPage"></ng-container>
        }
    </div>
</div>