hr {
    border: 2px dashed black;
}

.logo-img {
    border-radius: 15px;
    border: 3px white solid;
}

.beta-btn {
    background-color: #ff4081;
    border-radius: 15px;
    border: 1px solid black;
    pointer-events: none;
}

.beta-label {
    font-weight: 500;
    font-size: 25px;
    color: white;
}

canvas {
    background-color: transparent;
    border-radius: 15px;
}

.larger-canvas {
    width: 400px;
    height: 400px;
}

.logout-logo {
    color: white;
    cursor: pointer;
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #f0f0f0;
}